@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e4e9f7;
}

.fade-in {
  animation: fade-in 0.3s forwards;
}

.fade-out {
  animation: fade-out 0.3s forwards;
}

.scale-in {
  animation: scale-in 0.3s forwards;
}

.scale-out {
  animation: scale-out 0.3s forwards;
}

.translate-in {
  animation: translate-in 0.3s forwards;
}

.translate-out {
  animation: translate-out 0.3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}

@keyframes translate-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes translate-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.input-dynamic {
  transition: border-color 0.2s;
}
.label-dynamic {
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in,
    color 200ms ease-in;
}
.input-dynamic:focus ~ .label-dynamic,
.input-dynamic:not(:placeholder-shown) ~ .label-dynamic {
  top: 0px;
  font-size: 13px;
  left: 7px;
}

.button-primary {
  @apply px-3 py-2 outline-none bg-indigo-500 text-white rounded-full font-bold;
}

button:disabled {
  @apply bg-gray-400 hover:bg-gray-400 cursor-not-allowed;
}

.component-box {
  max-width: 1250px;
  margin: 0 auto;
  padding: 100px 0.5rem 0 0.5rem;
}

.radio-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid rgb(99 102 241 / 1);
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.radio-btn:after {
  content: '';
  height: 9px;
  width: 9px;
  background: rgb(99 102 241 / 1);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: all 0.2s;
}
.radio-input:checked ~ .radio-btn:after {
  transform: translate(-50%, -50%) scale(1);
}
